@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'photoswipe/photoswipe.css';
@layer components {
    .btn-primary {
        border-radius: calc(infinity * 1px);
        background-color: #e42c02;
        padding-inline: --spacing(5);
        padding-block: --spacing(2);
        font-weight: var(--font-weight-semibold);
        color: var(--color-white);
        box-shadow: var(--shadow-md);
        &:hover{
            @media (hover: hover) {
                background-color: #a82204;
            }
        }
    }
}