<section>
    <div class="max-w-7xl mx-auto px-6 py-8 md:py-16">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div
                class="flex items-center justify-center h-full w-full gap-8 md:max-w-md text-center"
            >
                <h2 class="text-4xl font-bold">Acerca de Iquitos Expedition</h2>
            </div>
            <div class="space-y-4 text-justify">
                <p>
                    Es una agencia de viajes, conformada por un equipo de
                    colaboradores certificados y capacitados para ofrecerte los
                    mejores paquetes turísticos personalizados que cumplan todas
                    sus expectativas.
                </p>
                <p>
                    Nuestro principal objetivo es brindarle una experiencia de
                    viaje diferente e inolvidable, con el compromiso de
                    encargarnos de toda la planificación y ejecución de su
                    viaje, así usted solo se preocupe en disfrutar sus
                    vacaciones.
                </p>
                <p>
                    Llevamos más de 5 años trabajando al servicio de nuestros
                    pasajeros; viajeros que vienen a Iquitos Perú a envolverse
                    de su magia, cultura viva, su geografía y gastronomía.
                    Contamos con los Mejores Paquetes Turísticos en los Mejores
                    Lodge en medio la Selva, y Hoteles en el Centro de la
                    ciudad, Para que su viaje sea único e inolvidable, contamos
                    con los permisos requeridos, que garanticen el éxito de sus
                    próximas vacaciones a la Amazonia Peruana.
                </p>
            </div>
        </div>
    </div>
    <div class="bg-gray-50">
        <div class="max-w-7xl mx-auto px-6 py-12 md:py-24">
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-16 justify-items-center"
            >
                <div
                    class="flex flex-col items-center justify-center h-full w-full gap-4 md:max-w-md text-center"
                >
                    <h2 class="text-3xl xl:text-4xl font-bold">
                        Nuestra Misión
                    </h2>
                    <p class="text-sm xl:text-base">
                        Brindar a nuestros pasajeros experiencias de viajes
                        únicas e inolvidables, al alcance de sus manos.
                    </p>
                    <img
                        src="/../vision.avif"
                        alt="Misión de Iquitos Expedition"
                        loading="lazy"
                    />
                </div>
                <div
                    class="flex flex-col items-center justify-center h-full w-full gap-4 md:max-w-md text-center"
                >
                    <h2 class="text-3xl xl:text-4xl font-bold">
                        Nuestra Visión
                    </h2>
                    <p class="text-sm xl:text-base">
                        Lograr la inclusión de comunidades Nativas en la
                        participación Sostenible de nuestras experiencias
                        turísticas.
                    </p>
                    <img
                        src="/../mision.avif"
                        alt="Visión de Iquitos Expedition"
                        loading="lazy"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
