<section
    class="relative flex items-center justify-center min-h-[50vh] sm:min-h-64 md:h-95 lg:h-96 text-center pt-[var(--nav-height)]"
>
    <img
        src="/../breadcrumb/bg-tourdiario.avif"
        alt="Iquitos Expedition - Tours Amazonas"
        class="absolute object-cover w-full h-full"
        loading="eager"
    />

    <div class="absolute inset-0 bg-black opacity-80 mix-blend-multiply"></div>

    <div class="relative z-20 px-6 md:px-12 text-white max-w-7xl w-full">
        <h3
            class="text-3xl md:text-5xl lg:text-6xl font-extrabold tracking-wide drop-shadow-lg"
        >
            Tours Diarios
        </h3>
        <p
            class="mt-2 flex items-center justify-center gap-2 text-lg text-gray-300"
        >
            <a href="/" class="hover:text-white"> Inicio </a>
            <i class="fa-solid fa-chevron-right text-orange-500"></i>
            <span class="text-white font-semibold"> Tours Diarios </span>
        </p>
    </div>
</section>
