<section class="h-[40rem] relative flex justify-center items-center">
    <img src="/../CallToAction.avif" alt="Tours en Iquitos, Perú - Amazonía Peruana" loading="lazy" class="object-cover w-full h-full" />
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="absolute max-w-3xl text-center px-4 space-y-16">
        <h3 class="uppercase font-bold text-white" style="font-size: clamp(2.25rem, 1.8214rem + 2.1429vw, 3.75rem);">
            Los mejores tours de la Amazonía
        </h3>
        <a target="_blank" href="https://wa.link/muo21e" class="inline-flex items-center justify-center border-2 border-white hover:border-green-800 font-bold hover:bg-white rounded-md bg-orange-600 text-white hover:text-green-800 px-12 py-4" aria-label="Contacto de WhatsApp">
            Consultar ahora
            <i class="fa-brands fa-whatsapp fa-2xl ml-2"></i>
        </a>
    </div>
</section>