<section class="relative grid grid-cols-1 lg:grid-cols-2 my-12 h-full lg:h-[80vh]">
    <div class="relative"> 
        <img src="/../galeria-inicial/reserva-nacional-pacaya-samiria.avif" alt="RESERVA NACIONAL PACAYA SAMIRIA" loading="lazy" class="w-full h-full object-cover">
        <a href="./paquetes/pacaya-samiria" class="absolute inset-0 z-30 flex flex-col justify-end p-4">
            <h2 class="uppercase font-bold text-white text-xl lg:text-2xl">
                RESERVA NACIONAL PACAYA SAMIRIA
            </h2>
            <p class="text-white">Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana.</p>
        </a>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="relative">
            <img src="/../galeria-inicial/heliconia-amazon-river-lodge.avif" alt="HELICONIA AMAZON RIVER LODGE" loading="lazy" class="w-full h-full object-cover">
            <a href="./paquetes/heliconia-lodge" class="absolute inset-0 z-30 flex flex-col justify-end p-4">
                <h2 class="uppercase font-bold text-white text-xl">HELICONIA AMAZON RIVER LODGE</h2>
                <p class="text-white">Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana.</p>
            </a>
        </div>
        <div class="relative">
            <img src="/../galeria-inicial/cumaceba-lodge.avif" alt="CUMACEBA LODGE" loading="lazy" class="w-full h-full object-cover">
            <a href="./paquetes/cumaceba-lodge" class="absolute inset-0 z-30 flex flex-col justify-end p-4">
                <h2 class="uppercase font-bold text-white text-xl">CUMACEBA LODGE</h2>
                <p class="text-white">Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana.</p>
            </a>
        </div>
        <div class="relative">
            <img src="/../galeria-inicial/irapay-amazon-lodge.avif" alt="IRAPAY AMAZON LODGE" loading="lazy" class="w-full h-full object-cover">
            <a href="./paquetes/irapay-amazon" class="absolute inset-0 z-30 flex flex-col justify-end p-4">
                <h2 class="uppercase font-bold text-white text-xl">IRAPAY AMAZON LODGE</h2>
                <p class="text-white">Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana.</p>
            </a>
        </div>
        <div class="relative">
            <img src="/../galeria-inicial/tours-diarios.avif" alt="TOURS DIARIOS" loading="lazy" class="w-full h-full object-cover">
            <a href="./paquetes/tours-diarios" class="absolute inset-0 z-30 flex flex-col justify-end p-4">
                <h2 class="uppercase font-bold text-white text-xl">TOURS DIARIOS</h2>
                <p class="text-white">Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana.</p>
            </a>
        </div>
    </div>
    <div class="absolute inset-0 bg-black/50 z-10"></div> 
</section>