<section class="bg-white my-26">
    <div class="max-w-7xl mx-auto px-4">
        <div class="mb-8">
            <h3 class="text-4xl font-bold mb-4 text-gray-900">
                Los mejores paquetes turísticos
            </h3>
            <p class="text-black">
                Descubre los mejores paquetes turísticos con Iquitos Expedition. Somos tu opción ideal para viajes en pareja, en familia o con amigos. Celebra tu luna de miel, cumpleaños o aniversario en los más exclusivos hoteles y lodges de la selva amazónica. Garantizamos experiencias inolvidables y un servicio de calidad excepcional.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../paquetes-recomendados/iquitosdelujo.avif" alt="Iquitos de Lujo en Irapay Amazon Lodge" class="object-cover rounded-lg w-full h-44" width="358" height="176" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="./../paquetes/tours-irapay-amazon/iquitos-relax-3-dias-2-noches" class="block text-xl text-green-900 font-bold h-14 hover:text-orange-600 transition-colors">
                        Iquitos de Lujo en Irapay Amazon Lodge
                    </a>
                    <div class="flex justify-between items-center mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <svg width="20" height="20" viewBox="0 0 24 24" class="text-green-950" data-icon="clock">
                                <symbol id="ai:local:clock">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                                </symbol>
                                <use xlink:href="#ai:local:clock"></use>
                            </svg>
                            <span class="text-green-950 ml-2 text-sm">
                                3D/2N
                            </span>
                        </div>
                    </div>
                    <p class="text-black">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="https://wa.link/no5uic" aria-label="Guía turística por Iquitos de Lujo en Irapay Amazon Lodge" target="_blank" class="flex justify-between items-center group">
                    <p class="text-green-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-green-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <symbol id="ai:local:angle-right">
                            <path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
                        </symbol>
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../paquetes-recomendados/explorandoamazonas4d3n.avif" alt="Explorando el Amazonas en Heliconia Amazon Lodge" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="./../paquetes/tours-heliconia-lodge/descubre-las-maravillas-de-la-amazonia-4-dias-3-noches" class="block text-xl text-green-900 font-bold h-14 hover:text-orange-600 transition-colors">
                        Explorando el Amazonas en Heliconia Amazon Lodge
                    </a>
                    <div class="flex justify-between items-center mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <svg width="20" height="20" viewBox="0 0 24 24" class="text-green-950" data-icon="clock">
                                <use xlink:href="#ai:local:clock"></use>
                            </svg>
                            <span class="text-green-950 ml-2 text-sm">
                                4D/3N
                            </span>
                        </div>
                    </div>
                    <p class="text-black">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="https://wa.link/no5uic" aria-label="Guía turística por Explorando el Amazonas en Heliconia Amazon Lodge" target="_blank" class="flex justify-between items-center group">
                    <p class="text-green-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-green-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../paquetes-recomendados/relax-selva.avif" alt="Relax en la selva Cumaceba" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="./../paquetes/tours-cumaceba-lodge/tour-3-dias-2-noches" class="block text-xl text-green-900 font-bold h-14 hover:text-orange-600 transition-colors">
                        Relax en la selva Cumaceba
                    </a>
                    <div class="flex justify-between items-center mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <svg width="20" height="20" viewBox="0 0 24 24" class="text-green-950" data-icon="clock">
                                <use xlink:href="#ai:local:clock"></use>
                            </svg>
                            <span class="text-green-950 ml-2 text-sm">
                                3D/2N
                            </span>
                        </div>
                    </div>
                    <p class="text-black">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="https://wa.link/no5uic" aria-label="Guía turística por Relax en la selva Cumaceba" target="_blank" class="flex justify-between items-center group">
                    <p class="text-green-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-green-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../paquetes-recomendados/toursdiarios-isladelosmonos.avif" alt="Tours diarios Isla  de los monos" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="./../paquetes/tours-diarios/isla-de-los-monos" class="block text-xl text-green-900 font-bold h-14 hover:text-orange-600 transition-colors">
                        Tours diarios Isla  de los monos
                    </a>
                    <div class="flex justify-between items-center mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <svg width="20" height="20" viewBox="0 0 24 24" class="text-green-950" data-icon="clock">
                                <use xlink:href="#ai:local:clock"></use>
                            </svg>
                            <span class="text-green-950 ml-2 text-sm">
                                Todos los días
                            </span>
                        </div>
                    </div>
                    <p class="text-black">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="https://wa.link/no5uic" aria-label="Guía turística por Tours diarios Isla  de los monos" target="_blank" class="flex justify-between items-center group">
                    <p class="text-green-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-green-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../paquetes-recomendados/pacaya-samiria-desde-iquitos.avif" alt="Pacaya Samiria desde Iquitos" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="./../paquetes/tours-pacaya-samiria/tour-4-dias-3-noches" class="block text-xl text-green-900 font-bold h-14 hover:text-orange-600 transition-colors">
                        Pacaya Samiria desde Iquitos
                    </a>
                    <div class="flex justify-between items-center mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <svg width="20" height="20" viewBox="0 0 24 24" class="text-green-950" data-icon="clock">
                                <use xlink:href="#ai:local:clock"></use>
                            </svg>
                            <span class="text-green-950 ml-2 text-sm">
                                4D/3N
                            </span>
                        </div>
                    </div>
                    <p class="text-black">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="https://wa.link/no5uic" aria-label="Guía turística por Pacaya Samiria desde Iquitos" target="_blank" class="flex justify-between items-center group">
                    <p class="text-green-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-green-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
            <div class="bg-gray-50 bg-opacity-65 rounded-md px-6 py-4">
                <img src="/../paquetes-recomendados/pacaya-samiria-desde-tarapoto.avif" alt="Pacaya Samiria desde Tarapoto" class="object-cover rounded-lg w-full h-44" loading="lazy" />
                <div class="pt-8 pb-4">
                    <a href="./../paquetes/tours-pacaya-samiria/tour-8-dias-7-noches" class="block text-xl text-green-900 font-bold h-14 hover:text-orange-600 transition-colors">
                        Pacaya Samiria desde Tarapoto
                    </a>
                    <div class="flex justify-between items-center mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <svg width="20" height="20" viewBox="0 0 24 24" class="text-green-950" data-icon="clock">
                                <use xlink:href="#ai:local:clock"></use>
                            </svg>
                            <span class="text-green-950 ml-2 text-sm">
                                8D/7N
                            </span>
                        </div>
                    </div>
                    <p class="text-black">
                        Explora junto a nosotros las maravillas turísticas de la Amazonía peruana. Iquitos te espera para vivir la mejor aventura de tu vida, navegando el río más caudaloso del mundo, observar delfines, tener contacto con la naturaleza y comunidades nativas con sus costumbres ancestrales.
                    </p>
                </div>
                <div class="border border-orange-300 my-4"></div>
                <a href="https://wa.link/no5uic" aria-label="Guía turística por Pacaya Samiria desde Tarapoto" target="_blank" class="flex justify-between items-center group">
                    <p class="text-green-950 font-bold group-hover:text-orange-500 transition-colors">
                        Consultar paquete
                    </p>
                    <svg width="28" height="28" viewBox="0 0 320 512" class="text-white bg-green-950 p-1 rounded-full group-hover:bg-orange-500 transition-colors" data-icon="angle-right">
                        <use xlink:href="#ai:local:angle-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>